@model List<Sepetim>
@{
    AppUser user = (AppUser) Session["oturum"];
    ViewBag.Title = "CartList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="cart-main-area ptb-100 ptb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- Form Start -->
                <form action="~/ShoppingCart/CartList">
                    <!-- Table Content Start -->
                    <div class="table-content table-responsive mb-45">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Resim</th>
                                    <th class="product-name">Ürün</th>
                                    <th class="product-price">Fiyat</th>
                                    <th class="product-quantity">Adet</th>
                                    <th class="product-remove">Kaldır</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Session["sepetim"] == null)
                                {
                                    <p style="font-size:20px"> Sepetinizde ürün bulunmamaktadır.</p>
                                }
                                else
                                {
                                    foreach (Sepetim item in Model)
                                    {
                                    <tr>

                                        <td class="product-thumbnail">


                                            <a href="#"><img src=" @item.Resim" alt="cart-image" /></a>

                                        </td>



                                        @*<td class="product-thumbnail">
        @*<a href="#"><img src=" ~/Content/img/products/13.jpg" alt="cart-image" /></a>*@

                                        <td class="product-name"><a href="#">@item.UrunAdi </a></td>
                                        <td class="product-price"><span class="amount">@(item.Fiyati*item.Adet) </span></td>
                                        <td class="product-quantity">
                                            <button style="border-radius:5px;" onclick="Detay('@item.ID','arti')">+</button>
                                            @item.Adet

                                            <button style="border-radius:5px;  width:23.44px;" onclick="Detay('@item.ID','eksi')">-</button>

                                        </td>
                                        
                                        <td class="product-remove">

                                            <a href="@Url.Action("Delete", "ShoppingCart", new { id = @item.ID },null)">

                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    }

                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- Table Content Start -->
                    <div class="row">
                        <!-- Cart Button Start -->
                        <div class="col-md-8 col-sm-12">
                            <div class="buttons-cart">

                                <a href="@Url.Action("Index", "Home")">Alışverişe Devam Et</a>

                            </div>
                        </div>
                        <!-- Cart Button Start -->
                        <!-- Cart Totals Start -->
                        <div class="col-md-4 col-sm-12">
                            <div class="cart_totals float-md-right text-md-right">
                                <h2>Sepet Tutarı</h2>
                                <br />
                                <table class="float-md-right">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Ara Toplam</th>
                                            @if (Session["sepetim"] != null)
                                            {
                                                <td>
                                                    <strong><span class="amount"> @Model.Sum(x => x.Fiyati * x.Adet)</span></strong>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <strong><span class="amount">0</span></strong>
                                                </td>
                                            }

                                        </tr>
                                        <tr class="order-total">
                                            <th>Toplam</th>
                                            @if (Session["sepetim"] != null)
                                            {

                                                <td>
                                                    <strong><span class="amount"> @Model.Sum(x => x.Fiyati * x.Adet)</span></strong>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <strong><span class="amount">0</span></strong>
                                                </td>
                                            }

                                        </tr>
                                    </tbody>

                                </table>
                              
                                <div class="wc-proceed-to-checkout">

                                    @if (Session["oturum"] != null)
                                    {

                                        <a href="@Url.Action("Insert","Orders",new {id=user.ID })">Satın Al</a>
                                    }
                                    else
                                    {
                                         <p> Satın Alma İşlemi İçin Üye Olmanız Gerekmektedir.</p>
                                    }

                                </div>

                            </div>

                        </div>

                        <!-- Cart Totals End -->
                    </div>
                    
                    <!-- Row End -->
                </form>
                <!-- Form End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
</div>



@section scripts{
   <script>


       function Detay(id, detay) {
           $.ajax({
               url: '/ShoppingCart/AddToCart/',
               data: { 'id': id, 'detay': detay },
               success: function () {
                   return true;
               }

           })

       }
    </script>
    }