@model List<Product>
@{
    //AppUser kullanici;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html class="no-js" lang="zxx">
@*<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home-3 || Truemart Responsive Html5 Ecommerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>*@
<body>


    @if (Model.Count == 0)
    {
        <p class="about-title">Eşleşme Bulunamadı</p>
    }
    <div class="col-lg-9 order-1 order-lg-2">
        <div class="main-categorie mb-all-40">
            <!-- Grid & List Main Area End -->
            @*<h2>Ürünler</h2>*@
            <div class="tab-content fix">
                <div id="grid-view" class="tab-pane fade show active">
                    <div class="row">

                        @foreach (Image item in (List<Image>)ViewData["Image"])
                        {

                           foreach (Product x in Model)
                            {

                                if (/*x.ID==item.ProductID */ x.ProductName == item.Product.ProductName)
                                {
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                        <div class="single-product">
                                            <!-- Product Image Start -->

                                            <div class="pro-img">

                                                <a href="@Url.Action("Product", "Home", new { id = @item.ProductID },null)">

                                                    <img class="primary-img" src="@item.ImagePath" alt="single-product">
                                                  
                                                </a>
                                             
                                            </div>

                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="pro-info">
                                                    <h4><a href="product.html"> @item.Product.ProductName</a></h4>
                                                    <p><span class="price">@item.Product.Price ₺</span></p>
                                                </div>
                                                <div class="pro-actions">
                                                    <div class="actions-primary">

                                                        @if (Session["oturum"] != null)
                                                        {
                                                            @Html.ActionLink("Sepete Ekle", "AddToCart", "ShoppingCart", new { id = item.Product.ID }, new { @class = "btn btn-default" })
                                                        }

                                                        else
                                                        {
                                                            <strong> Sepete Eklemek İçin Giriş Yapmanız Gerekmektedir.</strong>
                                                        }




                                                    </div>
                                                    <div class="actions-secondary">
                                                        @*YanYana yazdıran div*@

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>

                                    </div>
                                }

                            }


                            <!-- Single Product Start -->

                            <!-- Single Product End -->

                        }
                    </div>

                    <!-- Row End -->
                </div>

                <!-- #grid view End -->
                <div id="list-view" class="tab-pane fade">
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <div class="row">
                            <!-- Product Image Start -->
                            <div class="col-lg-4 col-md-5 col-sm-12">
                                <div class="pro-img">
                                    <a href="product.html">
                                        <img class="primary-img" src="~/Content/img/products/11.jpg" alt="single-product">
                                        <img class="secondary-img" src="~/Content/img/products/11.jpg" alt="single-product">
                                    </a>
                                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                                    <span class="sticker-new">new</span>
                                </div>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <!-- Product Content End -->
                        </div>
                    </div>
                </div>
                <!-- #list view End -->
                <div class="pro-pagination">
                    <ul class="blog-pagination">
                        @*sayfalar*@
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>

                </div>
                <!-- Product Pagination Info -->
            </div>
            <!-- Grid & List Main Area End -->
        </div>
    </div>

</body>
</html>


