@model List<SiteEmployee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <br />
    <br />
    <h2>Site Çalışanları Listesi</h2>

    @Html.ActionLink("Yeni Kayıt", "Insert", "SiteEmployee", null, new { @class = "btn btn-default" })

    @Html.ActionLink("İletişim Bilgileri", "Index", "ContactInfo", null, new { @class = "btn btn-default" })
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Uzmanlık Alanı</th>
                <th>Doğum Günü</th>
                <th>İş Başlangıç Günü</th>
                <th>İl</th>
                <th>İlçe</th>
                <th>Durum</th>
                <th>####</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SiteEmployee item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.LastName</td>
                    <td>@item.Profession</td>
                    <td>@item.BirthDate</td>
                    <td>@item.HireDate</td>
                    @*<td>@item.Province.ProvinceName</td>*@
                    <td>@(item.Province != null ? item.Province.ProvinceName : "-")</td>
                    @*<td>@item.Town.TownName</td>*@
                    <td>@(item.Town != null ? item.Town.TownName : "-")</td>
                    <td>@item.Status</td>
                    <td>
                        @Html.ActionLink("Güncelle", "Update", "SiteEmployee", new { id = item.ID }, new { @class = "btn btn-default" })

                        @Html.ActionLink("Sil", "Delete", "SiteEmployee", new { id = item.ID }, new { @class = "btn btn-default" })



                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

